.App {
  display: flex;
  flex-wrap: wrap;
  max-width: 60rem;
  box-shadow: 5px 5px 13px #929292, -5px -5px 13px #ffffff;
  margin-top: 5rem;
  background-color: rgb(247, 244, 244);
}
.App * {
  margin: 1rem;
}
